/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5;
    font-family: 'Secular One', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.layouts-title {
    font-size: 26px;
    margin: 15px 0px;
}

.layouts ul li {
    margin-bottom: 5px;
}

.layouts ul li a {
    font-size: 17px;
    display: inline-block;
    padding: 3px 10px;
}

.layouts ul li a:hover {
    background: #000;
    color: #fff;
}


/* -- END RESET -- */

.row {
    max-width: 1920px
}


/* -- main styles -- */

.nopad {
    padding: 0px;
}

.nopadleft {
    padding-left: 0px;
}

.nopadright {
    padding-right: 0px;
}

strong {
    font-weight: bold;
}

i {
    font-style: italic;
}

em {
    font-style: italic;
}

.clear {
    clear: both;
}

.left {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.right {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.invi {
    visibility: hidden;
    opacity: 0;
}


/* fancybox */

.fancybox-close {
    position: absolute;
    top: -35px;
    right: -35px;
    background: url(../img/fancy-close.png) no-repeat center center;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.fancybox-close:hover {
    opacity: 0.8;
}

.fancybox-prev {
    left: -60px;
}

.fancybox-prev span {
    background: url(../img/fancy-prev.png) no-repeat center center;
}

.fancybox-next {
    right: -60px;
}

.fancybox-next span {
    background: url(../img/fancy-next.png) no-repeat center center;
}

.bg {
    background: url(../img/home-bg.png) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

body::before {
    position: absolute;
    content: '';
    width: 20px;
    background-color: #ffffff;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 150;
}

body::after {
    position: absolute;
    content: '';
    width: 20px;
    background-color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.top-line {
    background: url(../img/line.png) no-repeat center center;
    position: absolute;
    height: 20px;
    top: 19px;
    left: 0;
    right: 0;
    display: block;
    z-index: 100;
}

.top-line::after {
    position: absolute;
    content: '';
    height: 20px;
    background-color: #ffffff;
    top: -19px;
    left: 0;
    right: 0;
}

.bottom-line {
    background: url(../img/line.png) no-repeat center center;
    position: absolute;
    height: 20px;
    bottom: 19px;
    left: 0;
    right: 0;
    display: block;
    z-index: 100;
}

.bottom-line::after {
    position: absolute;
    content: '';
    height: 20px;
    background-color: #ffffff;
    bottom: -19px;
    left: 0;
    right: 0;
    z-index: 100;
}

.left-side {
    padding: 90px 0 0 65px;
    float: left;
}

.logo {
    margin-bottom: 83px;
}

.logo img {
    z-index: 200;
    filter: none;
}

.slogan {
    font-size: 48px;
    line-height: 50px;
    color: #ffffff;
    display: block;
}

.open-btn {
    background-color: #e85d71;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    text-align: center;
    position: absolute;
    right: 24%;
    bottom: 120px;
    cursor: pointer;
    display: block;
}

.open-btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(114, 95, 95, 0.1);
    border-radius: 50%;
    display: block;
    transition: 0.3s;
}

.open-btn:hover::after {
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
}

.open-btn>span {
    font-size: 36px;
    font-family: impact, 'SecularOne';
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 120px;
    display: block;
}

.open-btn span::before {
    content: " ";
    display: block;
    background: url(../img/open.png) no-repeat center center;
    width: 38px;
    height: 60px;
    margin: auto;
}

.open-btn span.close {
    display: none;
}

.open-btn.close {
    background: url(../img/close.png) no-repeat center center;
}

.open-btn-cross {
    background: url(../img/close.png) no-repeat center center;
}

.open-btn-cross span {
    display: none;
}

.open-btn-cross span.close {
    display: block;
}

.open-btn-cross.close {
    background-image: none;
    background-color: #e85d71;
}





@keyframes pulse_animation {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.lauguage {
    position: absolute;
    right: 125px;
    top: 76px;
    cursor: pointer;
    z-index: 5;
}

.language a:hover {
    background: #FF667D;
}

.lauguage a {
    display: inline-block;
    width: 29px;
    height: 29px;
    background: #E85D72;
    border-radius: 50%;
    color: #000000;
    text-align: center;
    line-height: 29px;
    text-decoration: none;
    font-size: 14px;
    font-family: impact, 'Secular One', sans-serif;
    text-transform: uppercase;
}

.meniu-btn {
    position: absolute;
    right: 65px;
    top: 80px;
    background: url(../img/hamburger.png) no-repeat center center;
    width: 31px;
    height: 21px;
    z-index: 5;
    display: inline-block;
    cursor: pointer;
}

.trigger {
    background: url(../img/cross.png) no-repeat center center;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 40px;
    right: 48px;
    float: right;
    cursor: pointer;
}

.right-nav-block {
    overflow-y: auto;
    max-height: 83vh;
    bottom: 19px;
}

.right-nav {
    background-color: #000000;
    width: 270px;
    position: absolute;
    right: -290px;
    top: 19px;
    bottom: 19px;
    padding: 92px 45px 20px 45px;
    transition: 400ms;
    z-index: 5;
    overflow: hidden;
    display: block;
}

.right-nav.close {
    right: 0;
}

.right-nav-list {
    border-bottom: 1px #373737 solid;
    margin-bottom: 28px;
}

.right-nav-list ul {
    margin-bottom: 26px;
}

.right-nav-list ul li a {
    font-size: 18px;
    color: #ffffff;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
    margin: 8px 0;
}

.right-nav-list ul li a:hover {
    color: #e85d71;
}

.contact-title {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.contact-text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.contact-text p {
    display: block;
    margin-top: 24px;
}

.contact-text span a {
    color: #e85d71;
}

.contact-text span a:hover {
    opacity: 0.8;
}

.left-content {
    background-color: #000000;
    width: 42%;
    position: absolute;
    left: -40.9%;
    top: 20px;
    bottom: 20px;
    z-index: 10;
    float: left;
    padding: 63px 20px 20px 45px;
    overflow: hidden;
    transition: left 300ms;
}


.left-content.close {
    left: 20px;
}

.content-wrap {
    width: 100%;
    float: right;
    transition: 300ms;
    overflow: hidden;
}

.content-wrap.close {
    width: 58%;
}

.open-content-wrap {
    width: 58%;
}

.open-left-content{
    left: 20px;
    z-index: 15;
}

.open-left-content.close {
    left: -42%;
    z-index: 5;
}

.open-content-wrap.close {
    width: 100%;
}

.section-block {
    overflow-y: auto;
    height: 83vh;
    padding-right: 25px;
}

.section-title {
    font-size: 26px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.big-news {
    position: relative;
    margin-bottom: 29px;
}

.big-news-img, .little-news-img {
    position: relative;
    margin-bottom: 18px;
    background-size: cover !important;
    width: 100%;
}

.little-news:nth-child(2n+1){
    clear: both;
}

.big-news a {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #e85d71;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
}

.big-news:hover a {
    color: #ffffff;
}

.big-news:hover .big-news-img::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(232, 93, 113, 0.5);
    display: block;
}

.big-news-img {
    height: 315px;
}

.little-news-img {
    height: 227px;
}

.little-news:hover a {
    color: #ffffff;
}

.little-news:hover .little-news-img::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(232, 93, 113, 0.5);
    display: block;
}

.big-news span, .little-news span {
    font-size: 12px;
    color: #878787;
    display: block;
    margin-top: 6px;
}

.little-news-block {
    margin-bottom: 25px;
}

.little-news {
    padding-right: 10px;
    margin-bottom: 33px;
}

.little-news a {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #e85d71;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
}

.little-news:nth-child(2n) {
    padding-left: 10px;
    padding-right: 0;
}

.back-link {
    width: 65px;
    height: 20px;
    background: url(../img/back-cross.png) no-repeat center center;
    background-position: left;
    margin-bottom: 50px;
    clear: both;
    float: left;
}

.back-link a {
    font-size: 15px;
    font-weight: 400;
    color: #e85d71;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px 5px 5px 25px;
}

.entry h2 {
    font-size: 26px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.entry p {
    font-size: 15px;
    color: #ffffff;
    line-height: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    margin-bottom: 38px;
}

hr {
    width: 182px;
    float: left;
    background-color:#373737;
    height: 1px;
    border: 0;
    margin-top: 0;
    margin-bottom: 35px;
}

.entry a {
    color: #e85d71;
}

.entry a:hover {
    opacity: 0.8;
}

.entry img {
    width: 100%;
    margin-bottom: 24px;
}

.entry h3 {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.entry ul, .entry ol {
    margin-left: 15px;
}

.entry ul {
    margin-bottom: 34px;
}

.entry ul li, .entry ol li {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

.entry ul li::before {
    background: url(../img/list-disc.png) no-repeat center center;
    content: "";
    position: absolute;
    top: 8px;
    left: -15px;
    width: 5px;
    height: 5px;
    display: block;
}

.entry ol li {
    list-style-type: decimal;
}

.entry ol {
    margin-bottom: 27px;
}

.entry h4 {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    line-height: 32px;
    padding-left: 42px;
    background: url(../img/camera.png) no-repeat center center;
    background-position: left;
    float: left;
}

.entry span {
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    color: #8c8c8c;
    float: right;
    text-transform: lowercase;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 32px;
}

.gallery-thumbs {
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 21px;
}

.gallery-thumbs ul li {
    padding: 0px;
    float: left;
    width: 12%;
    margin-right: 2.3%;
    margin-bottom: 16px;
    list-style-type: none;
}

.gallery-thumbs ul li:nth-child(7n) {
    margin-right: 0px;
}

.gallery-thumbs ul li a {
    display: block;
    height: 84px;
    background-size: cover !important;
    position: relative;
}

.gallery-thumbs ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(232, 93, 113, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.gallery-thumbs ul li a:hover:before {
    visibility: visible;
    opacity: 1;
}

.gallery-thumbs ul li:before {
    display: none;
}

.gallery-thumbs ul  {
    margin-left:0px;
}

.scroll::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #414141;
}

.scroll::-webkit-scrollbar {
	width: 4px;
	background-color: #414141;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #bfbfbf;
}

.popup {
    position: absolute;
    background-color: #000000;
    border: none;
    max-width: 645px;
    width: 85%;
    max-height: 280px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    padding: 44px 10px;
    z-index: 200;
}

.popup  span {
    display: block;
    font-size: 26px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.popup  p {
    font-size: 17px;
    color: #ffffff;
    margin: 0 auto 37px;
    max-width: 400px;
    font-family: 'Roboto Condensed', sans-serif;
}

.popup  a {
    background: #e85d71;
    border-radius: 50px;
    min-width: 150px;
    min-height: 55px;
    line-height: 55px;
    display: inline-block;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    margin: 0 9px;
    font-weight: bold;
    position: relative;
}

.popup  a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(114, 95, 95, 0.1);
    border-radius: 50px;
    display: block;
    transition: 0.3s;
}

.popup  a:hover::after {
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
}

.blur {
    background: rgba(0,0,0,0.0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.blur.close {
    filter: none;
}

.blurer {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    transition: 0.3s;
    position: relative;
}

.noblur {
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    position: relative;
}

@media screen and (max-width:1642px) {

    .gallery-thumbs ul li:nth-child(6n) {
        margin-right: 0;
    }

    .gallery-thumbs ul li:nth-child(7n) {
        margin-right: 2.3%;
    }

    .gallery-thumbs ul li {
        width: 14%;
    }

}

@media screen and (max-width:1404px) {

    .gallery-thumbs ul li:nth-child(5n) {
        margin-right: 0;
    }

    .gallery-thumbs ul li:nth-child(6n) {
        margin-right: 2.3%;
    }

    .gallery-thumbs ul li {
        width: 18%;
    }

}

@media screen and (max-width:1300px) {

    .open-btn {
        right: 15%;
        height: 150px;
        width: 150px;
    }

}

@media screen and (max-width:1228px) {

    .gallery-thumbs ul li:nth-child(4n) {
        margin-right: 0;
    }

    .gallery-thumbs ul li:nth-child(5n) {
        margin-right: 2.3%;
    }

    .gallery-thumbs ul li {
        width: 23%;
    }

}

@media screen and (max-width:1200px) {

    .logo {
        margin-bottom: 40px;
    }

    .slogan {
        font-size: 40px;
        line-height: 42px;
    }

}

@media screen and (max-width:1166px) {

    .gallery-thumbs ul li:nth-child(3n) {
        margin-right: 0;
    }

    .gallery-thumbs ul li:nth-child(4n) {
        margin-right: 2.3%;
    }

    .gallery-thumbs ul li {
        width: 31%;
    }

}

@media only screen and (max-width: 64em) {

    .left-content {
        padding: 50px 10px 0px 25px;
    }

    .section-block {
        padding-right: 15px;
    }

    .little-news a {
        line-height: 16px;
    }

    .big-news-img, .little-news-img {
        margin-bottom: 14px;
    }

}

@media only screen and (max-height: 768px) {

    .right-nav {
        padding: 70px 45px 20px 45px;
    }

}

@media screen and (max-width:850px) {

    .popup {
        max-width: 500px;
        padding: 30px 10px;
        max-height: 230px;
    }

    .popup span {
        font-size: 23px;
        margin-bottom: 20px;
    }

    .popup p {
        font-size: 16px;
        margin: 0 auto 20px;
    }

    .popup a {
        line-height: 45px;
        min-width: 130px;
        min-height: 45px;
        font-size: 16px;
    }

    .bg {
        border: none;
        margin: 0;
    }

    body::after {
        position: relative;
    }

    body::before {
        position: relative;
    }

    .left-side {
        width: 100%;
        text-align: center;
        padding: 50px 0;
    }

    .slogan {
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }

    .open-btn {
        right: 0;
        left: 0;
        margin: auto;
        bottom: 50px;
    }

    .meniu-btn {
        top: 60px;
    }

    .lauguage {
        top: 56px;
    }

    .top-line, .bottom-line {
        display: none;
    }

    .right-nav {
        top: 0;
        bottom: 0;
    }

    .section-block {
        height: 100vh;
        padding-bottom: 50px;
    }

    .left-content {
        left: -100%;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
    }

    .content-wrap.close {
        width: 40%;
    }

    .open-content-wrap {
        width: 40%;
    }

    .open-left-content{
        left: 0%;
    }

    .open-left-content.close {
        left: -100% !important;
    }

    .open-content-wrap.close {
        width: 100%;
    }

    .open-trg {
        background: url(../img/close.png) no-repeat center center;
        background-size: 50px 50px;
        width: 50px;
        height: 50px;
        float: right;
        cursor: pointer;
        background-size: cover;
    }

    .left-content.close {
        left: 0;
    }

    .gallery-thumbs ul li:nth-child(3n) {
        margin-right: 2.3%;
    }

    .gallery-thumbs ul li:nth-child(4n) {
        margin-right: 2.3%;
    }

    .gallery-thumbs ul li:nth-child(5n) {
        margin-right: 0;
    }

    .gallery-thumbs ul li {
        width: 18%;
    }

}

@media screen and (max-width:689px) {

    .gallery-thumbs ul li:nth-child(5n) {
        margin-right: 2.3%;
    }

    .gallery-thumbs ul li:nth-child(3n) {
        margin-right: 0px;
    }

    .gallery-thumbs ul li:nth-child(4n) {
        margin-right: 2.3%;
    }

    .gallery-thumbs ul li {
        width: 31%;
    }

}

@media screen and (max-width:800px) {

    .left-side {
        padding: 100px 0px 0px 0px;
    }

}

@media screen and (max-width:640px) {

    .popup {
        max-width: 500px;
        padding: 30px 10px;
        max-height: 200px;
    }

    .popup span {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .popup p {
        font-size: 13px;
        margin: 0 auto 20px;
    }

    .popup a {
        min-width: 100px;
        min-height: 40px;
        line-height: 40px;
    }

    .logo img {
        max-width: 150px;
    }

    .meniu-btn {
        top: 30px;
        right: 30px;
    }

    .lauguage {
        top: 26px;
        right: 90px;
    }

    .left-side {
        padding: 80px 0 0 0;
    }

    .slogan {
        font-size: 26px;
        line-height: 36px;
    }

    .open-btn {
        height: 100px;
        width: 100px;
    }

    .open-btn span {
        font-size: 25px;
    }

    .open-btn span::before {
        background-size: 25px 39px;
        background-position: 7px 20px;
    }

    .open-btn.close {
        background: url(../img/close.png) no-repeat center center;
        height: 100px;
        width: 100px;
    }

    .open-btn-cross.close {
        background-image: none;
        background-color: #e85d71;
    }

    .open-trg {
        width: 30px;
        height: 30px;
    }

    .section-block {
        padding-bottom: 0px;
    }

    .section-title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .big-news a {
        line-height: 19px;
    }

    .little-news a {
        font-size: 14px;
        line-height: 15px;
    }

    .entry p {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 20px;
    }

    .entry img {
        margin-bottom: 15px;
    }

    .entry h3 {
        font-size: 16px;
    }

    .entry ul li, .entry ol li {
        font-size: 14px;
        line-height: 20px;
    }

    .entry ul {
        margin-bottom: 30px;
    }

    .entry ol {
        margin-bottom: 20px;
    }

    .trigger {
        top: 10px;
        right: 10px;
    }

    .right-nav {
        padding: 35px 15px 20px 15px;
        width: 180px;
    }

    .right-nav-list {
        margin-bottom: 20px;
    }

    .right-nav-list ul {
        margin-bottom: 20px;
    }

    .right-nav-list ul li a {
        margin: 5px 0;
        font-size: 16px;
        line-height: 24px;
    }

    .section-block {
        height: 96vh;
    }

    .left-content {
        padding: 15px 10px 30px 20px;
    }

    .entry h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .fancybox-close {
        top: -30px;
        right: -10px;
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width:639px) {

    .little-news {
        padding-right: 0;
    }

    .little-news:nth-child(2n) {
        padding-left: 0;
    }

    .little-news-block {
        margin-bottom: 5px;
    }

}

@media screen and (max-width:460px) {

    .big-news-img {
        height: 230px;
    }

    .little-news-img {
        height: 230px;
    }

}

@media screen and (max-width:350px) {

    .gallery-thumbs ul li {
        width: 31%;
    }

}

@media screen and (max-height:430px) {

    .meniu-btn {
        top: 30px;
    }

    .lauguage {
        top: 26px;
    }

    .left-side {
        padding: 60px 0px 0px 0px;
    }

}

@media screen and (max-height:323px) {

    .logo {
    margin-bottom: 25px;
}

    .left-side {
    padding: 70px 0 0 0;
}

}
